#root {
  max-width: 1366px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: 100;
}
.char-special {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
  font-weight: 200;
}
