#root {
  max-width: 1366px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 0rem;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: 100;
}

::-webkit-scrollbar {
  height: 4px;
  width: 1px;
  background: rgb(201, 187, 187);
}
::-webkit-scrollbar-thumb:horizontal {
  background: rgb(244, 51, 51);
  border-radius: 10px;
}

@media screen and (max-width: 640px) {
  /* Telefonlar için özel stiller */
  #root {
    padding: 0rem;
  }
}
hr {
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

.welcome-hero {
  background-image: url("./assets/welcomeHero.webp");
}
.menu-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/menuBg.webp");
}

/* Menu Navigation Active One Style */
.active-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
  padding-top: 0.2rem /* 8px */;
  padding-bottom: 0.2rem /* 8px */;
  border-bottom-width: 4px;
  --tw-border-opacity: 1;
  border-color: #f1f1e6;
}
/* Menu Navigation Deactive Ones Style */
.deactive-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
  padding-top: 0.2rem /* 8px */;
  padding-bottom: 0.2rem /* 8px */;
  border-bottom-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}
.char-special {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
  font-weight: 200;
}
